<h2>Create Account</h2>

<form
    [formGroup]="registerForm"
    (ngSubmit)="register()">

    <label>Username</label>

    <input
        type="text"
        formControlName="username"
        placeholder="Enter username">

    @if (
        registerForm.get('username')?.touched &&
        registerForm.get('username')?.hasError('required')
    ) {

        <p class="error">
            Username is required.
        </p>

    }

    <label>Password</label>

    <input
        type="password"
        formControlName="password"
        placeholder="Enter password">

    @if (
        registerForm.get('password')?.touched &&
        registerForm.get('password')?.hasError('required')
    ) {

        <p class="error">
            Password is required.
        </p>

    }

    @if (
        registerForm.get('password')?.touched &&
        registerForm.get('password')?.hasError('minlength')
    ) {

        <p class="error">
            Password must contain at least 6 characters.
        </p>

    }

    <br>

    <button type="submit">

        Register

    </button>

</form>

<hr>

<p>

Already have an account?

<a routerLink="/login">

Login Here

</a>

</p>