<h2>Transactions</h2>

<button (click)="goDashboard()">

Dashboard

</button>

&nbsp;

<button (click)="logout()">

Logout

</button>

<hr>

<table border="1" cellpadding="10">

<tr>

<th>ID</th>

<th>From</th>

<th>To</th>

<th>Amount</th>

<th>Action</th>

</tr>

@for(transfer of transfers;track transfer.id){

<tr>

<td>

{{transfer.id}}

</td>

<td>

{{transfer.fromAccount | maskAccount}}

</td>

<td>

{{transfer.toAccount | maskAccount}}

</td>

<td>

{{transfer.amount | currency:'INR'}}

</td>

<td>

<button

(click)="updateTransfer(transfer.id)">

Update

</button>

<button

(click)="deleteTransfer(transfer.id)">

Delete

</button>

</td>

</tr>

}

</table>