body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;

  background: #1e3a8a;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;

  margin-left: 25px;

  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  padding: 30px;
}